/* ================================================================================================
// 	File Name: style.scss
// 	Description: Style for customization.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Chameleon Admin - Modern Bootstrap 4 WebApp & Dashboard HTML Template + UI Kit
// 	Version: 1.0
// 	Author: ThemeSelection
// 	Author URL: https://themeselection.com/
// ================================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* STUDENT DASHBOARD */
.navbar-light {
    background: #202020 !important;
}

.header-navbar {
    height: 30px !important;
}


.red {
	color:  #BA1F19 !important;
}

.white {
	color:  #FFF !important;
}

body.horizontal-layout[data-color=bg-gradient-x-purple-blue] .navbar-horizontal, body.horizontal-layout[data-color=bg-gradient-x-purple-blue] .content-wrapper-before {

background: #23A74C !important;
}

.search-projects{
    height: 50px;
/*    width: 300px;
*/    border-radius: 40px;
    border: 1px solid #cacfe7;
    color: #3b4781;
}

.bg-black{
	background-color: #202020 !important;
}
.btn-success {
    background-color: #23A74C;
    color: #FFFFFF;
        border-color: #23A74C !important;

}
.btn-success:hover {
    background-color: #23A74C;
    }
.btn-outline-danger {
    border-color: #BA1F19;
    background-color: transparent;
    color: #BA1F19;
}
.btn-outline-danger:hover {
    background-color: #BA1F19;
        border-color: #BA1F19;

}
.btn-outline-success {
    border-color: #23A74C !important;
    background-color: transparent;
    color: #23A74C !important;
}
.btn-outline-success:hover {
    background-color: #23A74C;
}

.overlay-black {
	    border-radius: 4px !important;
    background: rgba(32, 32, 32, 0.8);
}

.card .card-category {
	    border-radius: 16px !important;
	}


.border-success {
    border: 1px solid #23A74C !important;
}
.border-black {
    border: 1px solid #202020 !important;
}

.text-success {
    color: #23A74C !important;
}

.badge-category{
	padding: 8px !important;
	font-size: 18px !important;
	margin-left: 8px;
	margin-bottom: 8px;
}

/* PROJECTS PAGE */
#datatable_filter{
	display: block !important;
	width: 300px; !important;
	margin-left: -70px;
	margin-bottom: 24px;
}


/* DASHBOARD PAGE */

.card-text{
    color: #6b6f80 !important; 
    font-weight: 600 !important;
}
